/* DIFERENTES FUENTES USADAS DE GOOGLE FONTS:
font-family: 'Dancing Script', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'BenchNine', sans-serif;
font-family: 'Advent Pro', sans-serif;
font-family: 'Pragati Narrow', sans-serif;
font-family: 'Merienda', cursive; 
font-family: 'Tenor Sans', sans-serif;*/

html {
    scroll-behavior: smooth;
    min-width: 1025px;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    background-color: #E6E6E9;
    height: auto;
}

#loading{
    display: flex;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:#E6E6E9; 
    color:#03062B;
}

#loading-flex{
    flex-flow: column;
    justify-content: center;
    font-size:large;
    font-family: 'Kaushan Script', cursive !important;
    font-weight: 200;
}

#gif{
    width: 30vw;
    height: 10vh;
    background-image: url("../img/GIF/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

#logo-load{
    height: 50vh;
    width: 30vw;
}

#body-loaded{
    display: none;
}

#header_desktop{
    margin: auto;
    height: 110px;
    width: inherit;
    background-color: #66666E;
    color: #03062B;
    font-size: 5vh;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 900;
    justify-content: space-between;
}

#header_mobile{
    display: none;
}

main{
    height: 5700px;
    margin: inherit;
}

footer{
    height: auto;
    background-color: #E6E6E9;
    width: 100%;
    margin-bottom: 0;
}

.footer-text{
    color: #03062B;
    width: 80%;
    margin: 3vh auto;
    display: flex;
    flex-flow: column;
}

footer a{
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
}

footer hr{
    width: 70%;
    margin: 3.5vh auto;
}

footer span{
    margin: 0.5vh;
    display: flex;
}

footer p{
    font-family: 'Tenor Sans', sans-serif;
    font-size: medium;
    margin: auto 0;
}

footer h3{
    font-family: 'Kaushan Script', cursive;
}

#logo1{
    margin: auto 50px;
    height: 100px;
    width: 100px;
    background-image: url("../img/anchor/anchor_pelada.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#header_desktop nav{
    width: 50%;
    margin-right: 50px;
}

#header_desktop nav ul{
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    list-style-type: none;
    font-family: 'Merienda', cursive;
}

#header_desktop nav ul li{
    padding-right: 5px;
}

.contact-icon{
    position: fixed;
    margin-left: 10px;
    transition: left 0.7s;
}

.contact-icon img{
    height: 60px;
    width: 60px;
}

.wp{
    margin-top: 440px;
}

.consult{
    margin-top: 510px;
}

.banner{
    height: 12%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner_1{
    background-image: url("../img/banner/barra1.png");
}

.banner_2{
    background-image: url("../img/banner/barra2.png");
}

#nosotros{
    height: 9%;
    margin-top: 0;
}

.title-first{
    margin-top: -1vw !important; 
}

.title{
    width: 100%;
    color: #03062B;
    font-size: 4.5vh;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    margin: 7vw auto 0;
}

.display{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.display_us{
    height: 80%;
}

.us{
    margin: auto;
    width: 30%;
    color: black;
}

p{
    font-family: 'Tenor Sans', sans-serif;
    text-align: justify;
    font-size: 2.4vh;
}

.us h2{
    color: #66666E;
    font-family: 'Dancing Script', cursive; 
    text-shadow: black 1.45px 1.45px;
    font-size: 3.6vw;
}

.logo2{
    background-image: url("../img/anchor/anchor.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
    width: 30%;
    margin: auto;
}

#servicios{
    height: 17%;
}

.serv{
    width: 22%;
    background-color: #9999A1;
    margin: 5vh auto 7vh;
}

.serv p{
    padding: 8px;
    padding-top: 0;
    font-size: 2.4vh;
    text-align: center;
}

.serv h3{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #66666E;
    font-size: 4.5vh;
    text-shadow: black 1.45px 1.45px;
}

#plus{
    height: 30%;
    float: left;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}

#plus li, .center, #plus p{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2.4vh;
}

#plus em{
    font-family: 'Tenor Sans', sans-serif;;
}

.serv em{
    text-align: left;
}

.center{
    text-align: center;
    margin: auto;
}

#plus h2{
    color: #66666e;
    font-family: 'Dancing Script', cursive;
    font-size: 4.8vh;;
    text-shadow: #03062B 1.45px 1.45px;
}

hr{
    border: 0 solid #03062B;
    border-top-width: 1px;
    margin: 2.5vw auto;
    width: 50%;
  }

#fotos{
    height: 31%;
}

#events{
    margin: 5vh auto 2vh;
    width: 90%;
    height: 55%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

#fotos h3{
    width: 100%;
    text-align: left;
    color: #66666E;
    font-size: 5vh;
    font-family: 'Dancing Script', cursive;
    text-shadow: #03062B 1.45px 1.45px;
    margin: 2vh auto 0;
}

.pics_event{
    height: 40%;
    width: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-out 2s;
}

.pics_event:nth-child(1){
    background-image: url("../img/events/event1.jpg");
}
.pics_event:nth-child(2){
    background-image: url("../img/events/event2.jpg");
}
.pics_event:nth-child(3){
    background-image: url("../img/events/event3.jpg");
}
.pics_event:nth-child(4){
    background-image: url("../img/events/event4.jpg");
}
.pics_event:nth-child(5){
    background-image: url("../img/events/event5.jpg");
}
.pics_event:nth-child(6){
    background-image: url("../img/events/event6.jpg");
}

#drinks{
    height: 30%;
    margin: auto;
    width: 90%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding-bottom: 1vh;
}

.pics_drink{
    height: 60%;
    width: 20%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-out 2s;
}

.pics_drink:nth-child(1){
    background-image: url("../img/drinks/drink1.png");
}
.pics_drink:nth-child(2){
    background-image: url("../img/drinks/drink2.png");
}
.pics_drink:nth-child(3){
    background-image: url("../img/drinks/drink3.png");
}
.pics_drink:nth-child(4){
    background-image: url("../img/drinks/drink4.png");
}

.name{
    width: 100%;
    bottom: 0;
    opacity: 0.5;
    background-color: #66666E;
    height: 15%;
    z-index: 1;
    justify-items: center;
}

.name p{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #E6E6E9;
    text-shadow: black 1.45px 1.45px;
    font-size: 3vh;
    padding-bottom: 2vh;
}

#formulario{
    height: 16%;
}

#formulario h1{
    color: #66666E;
    font-family: 'Dancing Script', cursive;
    font-size: 5.8vh;
    text-shadow: #03062B 1.45px 1.45px;
    margin: 8vh auto 1vh;
    text-align: center;
}

#contact-form{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60%;
    width: 60%;
    margin: 0.5vh auto;
}

#contact-form input, textarea{
    min-height: 5.3vh;
    border: 1px solid #03062B;
    box-shadow: #66666e 0px 0px 1vw;
    -moz-box-shadow: #66666e 0px 0px 1vw;
    -webkit-box-shadow: #66666e 0px 0px 1vw;
    font-family: 'Tenor Sans', sans-serif;
    padding: 0.4vw;
    margin-bottom: 2vh;
    line-height: 2.7vh;
}

textarea{
    max-width: 100%;
    min-width: 100%;
}

#contact-form label{
   color: #03062B;
}

#boton-enviar{
    color: #E6E6E9;
    background-color: #03062B;
    width: 7vw;
    height: 6vh;
    margin: 5vh auto;
    border-radius: 30px;
}

#deco{
    height: 33%;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.abajo{
    height: 90%;
    width: 25%;
    margin: 0;
    top: 0;
}

.drinks-icons img{
    height: 100px;
    width: 80px;   
    padding-top: 5vh;
}

.alerts{
    height: 100%;
    width: 100%; 
    text-align: center;
}

.error h1{
    margin-bottom: 0;
    color: rgb(104, 17, 17);
    text-shadow: black 1px 1px;
}

.success h1{
    color: rgb(42, 88, 20);
    text-shadow: black 1px 1px;
    margin-bottom: 0;
}

.form_logo{
    height: 60vh;
    width: 80vw;
    background-size: contain;
    margin: 2.5vh auto;
}

a{
    color: inherit;
    text-decoration: none;
}

a:visited{
    color: inherit;
}

a:hover{
    color: #9999A1;
    text-shadow: black 1.45px 1.45px;
}


.button-form{
    color: #E6E6E9;
    background-color: #03062B;
    width: 21vw;
    height: 8vh;
    border-radius: 30px;
    font-size: 2.8vh;
}

.button-form:hover{
    background-color: rgb(8, 11, 63);
}

.footer-contacto{
    width: 42px;
}

.footer-contacto a:hover{
    text-shadow: none;
}


/* Versión mobile */
@media screen and (max-width: 564px)
{
    html {
        min-width: 320px;
        max-width: 504px;
        scroll-behavior: smooth;
    }

    #logo-load{
        height: 30vh;
        width: 100%;
    }
    
    #header_desktop{
        display: none;
    }

    #header_mobile{
        background-color: #9999A1;
        position: fixed; 
        top: 0;
        width: 100%;
        transition: top 0.4s;
        display: flex;
        height: 9.5vh;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    main{
        height: auto;
    }

    #menu_icon{
        height: 7vh;
        margin-top: 1.5vh;
    }

    #menu_icon img{
        height: 100%;
    }

    #header_mobile h1{
        color: #03062B;
        margin-top: 1.5vh;
        font-family: 'Kaushan Script', cursive;
    }

    #header_mobile h3{
        color: #03062B;
        margin-top: 3vh;
        font-size: 2.5vh;
        font-family: 'Merienda', cursive; 
    }

    #header_mobile nav li{
        color: #03062B;
        font-size: 2vh;
        font-family: 'Kaushan Script', cursive;
    }

    #logo3{
        height: 90%;
        width: 19vw;
        background-image: url("../img/anchor/ancla_sola.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .sidenav {
        height: 100%; 
        width: 0;
        position: fixed; 
        z-index: 3; 
        top: 0; 
        left: 0;
        background-color: #66666e;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 9vh; 
        transition: 0.5s; 
    }

    #header_mobile nav{
        width: 90%;
    }
    
    #header_mobile nav ul{
        display: flex;
        flex-flow: column;
        list-style-type: none;
        padding-left: 3vw;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 0;
        font-size: 4.3vh;
        color: #03062B;
        text-shadow: #03062B 1px 1px;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #E6E6E9;
    }
    

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 2.5vw;
        font-size: 7vh;
        margin-left: auto;
    }
    
    .contact-icon{
        margin-left: 2vw;
        position: fixed;
    }
    
    .contact-icon img{
        height: 10vh;
        width: 15vw;
    }
    
    .wp{
        margin-top: 60vh;
    }
    
    .consult{
        margin-top: 72vh;
    }
      
    .banner{
        height: 70vh;
        background-attachment: scroll;
    }

    .banner_1{ 
        margin-top: 7vh;
    }
    
    #nosotros{
        height: 90vh;
    }

    .title{
        font-size: 3vh;
        margin: 1.2vh auto 0;
    }

    .display{
        width: 85%;
        margin: auto;
    }

    .display_us{
        height: 80%;
        width: 85%;
    }

    .us{
        height: 33%;
        width: 100%;
        position: relative;
        z-index: -1;
    }

    .us h2{
        font-size: 2.9vh;
        text-shadow: black 1px 1px;
    }

    p{
        font-size: 2vh;
    } 

    .logo2{
        height: 30vh;
        width: 100%;
    }

    #servicios{
        height: 230vh;
        margin: 2vh auto 2vh;
    }

    .serv{
        width: 85%;
        margin: 1vh auto;
        display: flex;
        justify-content: space-evenly;
        flex-flow: column;
        min-height: 23vh;
    }

    .serv p{
        font-size: 2vh;
    }

    .serv h3{
        text-shadow: black 1px 1px;
        margin-bottom: 1vh;
        font-size: x-large;
    }

    #plus{
        width: 80%;
        margin: 3vh auto 0;
    }

    #plus li, .center, #plus p{
        font-size: 2vh;
    } 

    #plus h2{
        font-size: 2.7vh; 
        text-shadow: #03062B 1px 1px;
    }

    #fotos{
        height: 190vh;
        margin: 2vh auto;
    }
    
    #events{
        margin: 1vh auto;
        width: 90%;
        height: 40%;
        flex-flow: column;
    }
    
    .no-show{display: none;}

    #fotos h3{
        font-size: 3.6vh;
        text-shadow: #03062B 1px 1px;
        margin: 2vh auto 2vh;
    }

    .pics_event{
        width: 80%;
        height: 35%;
        margin: auto;
    }

    #drinks{
        height: 38%;
    }

    .pics_drink{
        width: 90%;
        margin: auto;
    }

    .name p{
        text-shadow: black 1px 1px;
        font-size: 2vh;
        padding-bottom: 2vh;
    }

    #formulario{
        height: 90vh;
        margin: 2vh auto 2vh;
    }

    #formulario h1{
        width: 90%;
        font-size: 5vw;
        text-shadow: #03062B 1px 1px;
        margin: 2vh auto 1vh;
    }

    #contact-form{
        font-size: 2.6vh;
        height: 60%;
        width: 85%;
        margin: 1vh auto;
    }

    #contact-form input, textarea{
        min-height: 4.2vh;
        font-size: 2.5vh;
        padding: 0.4vh;
    }

    textarea{
        max-width: 100%;
        min-width: 100%;
    }

    #boton-enviar{
        color: #E6E6E9;
        background-color: #03062B;
        width: 50%;
        height: 5.8vh;
        margin: 0 auto;
        border-radius: 30px;
    }

    #deco{
        height: 25%;
    }

    .abajo{
        height: 34vh;
        width: 33vw;
        margin-top: -4.8vh;
    }

    .drinks-icons{
        display: none;
    }

    .banner_2{
        margin: 2vh 0 0;
    }

    .form_logo{
        height: 60vh;
        width: 80vw;
        margin: auto;
    }

    .button-form{
        width: 60vw;
        height: 8vh;
    }

    footer p{
        font-size: 2vh;
    }

    .footer-contacto{
        width: 8vw;
    }

}

/* Versión tablets */
    @media screen and (max-width: 1024px) and (min-width: 505px)
    {
        html {
            min-width: 505px;
            max-width: 1024px;
            scroll-behavior: smooth;
        }
        
        #logo-load{
            height: 30vh;
            width: 100%;
        }

        #header_desktop{
            display: none;
        }

        #header_mobile{
            background-color: #9999A1;
            position: fixed; 
            top: 0;
            width: 100%;
            transition: top 0.4s;
            display: flex;
            height: 11vh;
            justify-content: space-around;
            flex-wrap: nowrap;
        }
        
        main{
            height: auto;
        }
       
        #menu_icon{
            height: 7vh;
            margin-top: 1.5vh;
        }

        #menu_icon img{
            height: 100%;
        }

        #header_mobile h1{
            color: #03062B;
            margin-top: 1.5vh;
            font-family: 'Kaushan Script', cursive;
            font-size: 5.6vh;
        }

        #header_mobile h3{
            color: #03062B;
            margin-top: 3vh;
            font-size: 3.7vh;
            font-family: 'Merienda', cursive; 
        }

        #header_mobile nav li{
            color: #03062B;
            font-size: 2vh;
            font-family: 'Kaushan Script', cursive;
        }

        #logo3{
            height: 90%;
            width: 19vw;
            background-image: url("../img/anchor/ancla_sola.png");
            background-repeat: no-repeat;
            background-size: contain;
        }

        .sidenav {
            height: 100%; 
            width: 0;
            position: fixed; 
            z-index: 3; 
            top: 0; 
            left: 0;
            background-color: #66666e;
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 9vh; 
            transition: 0.5s; 
        }

        #header_mobile nav{
            width: 90%;
        }
        
        #header_mobile nav ul{
            display: flex;
            flex-flow: column;
            list-style-type: none;
            padding-left: 3vw;
        }
        
        .sidenav a {
            padding: 8px 8px 8px 0;
            font-size: 4.3vh;
            color: #03062B;
            text-shadow: #03062B 1px 1px;
            display: block;
            transition: 0.3s;
        }
        
        .sidenav a:hover {
            color: #E6E6E9;
        }
        

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 2.5vw;
            font-size: 7vh;
            margin-left: auto;
        }
        
        .contact-icon{
            margin-left: 2vw;
            position: fixed;
        }

        .contact-icon img{
            height: 78px;
            width: 80px;
        }
        
        .wp{
            margin-top: 60vh;
        }
        
        .consult{
            margin-top: 72vh;
        }
        
        .banner{
            height: 70vh;
            background-attachment: scroll;
        }

        .banner_1{ 
            margin-top: 7vh;
        }
        
        #nosotros{
            height: 90vh;
        }

        .title{
            font-size: 3vh;
            margin: 1.2vh auto 0;
        }

        .display{
            width: 85%;
            margin: auto;
        }

        .display_us{
            height: 80%;
            width: 85%;
        }

        .us{
            height: 33%;
            width: 100%;
            position: relative;
            z-index: -1;
        }

        .us h2{
            font-size: 3.7vh;
            text-shadow: black 1px 1px;
        }

        p{
            font-size: 2vh;
        } 

        .logo2{
            height: 30vh;
            width: 100%;
        }

        #servicios{
            height: 180vh;
            margin: 2vh auto 2vh;
        }

        .serv{
            width: 85%;
            margin: 1vh auto;
            min-height: 20vh;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
        }

        .serv p{
            font-size: 2vh;
        }

        .serv h3{
            text-shadow: black 1px 1px;
            margin: 1vh;
            font-size: 4vh;
        }

        #plus{
            width: 80%;
            margin: 3vh auto 0;
        }

        #plus li, .center, #plus p{
            font-size: 2vh;
        } 

        #plus h2{
            font-size: x-large; 
            text-shadow: #03062B 1px 1px;
        }

        #fotos{
            height: 200vh;
            margin: 2vh auto;
        }
        
        
        #events{
            margin: 1vh auto;
            width: 90%;
            height: 50%;
            flex-flow: column;
        }
        
        .no-show{display: none;}

        #fotos h3{
            font-size: 3.6vh;
            text-shadow: #03062B 1px 1px;
            margin: 2vh auto 2vh;
        }

        .pics_event{
            width: 80%;
            height: 44%;
            margin: auto;
        }

        #drinks{
            height: 38%;
        }

        .pics_drink{
            width: 45%;
            height: 85%;
            margin: auto;
        }

        .name p{
            text-shadow: black 1px 1px;
            font-size: 2.8vh;
            padding-bottom: 3vh;
        }
        
        #formulario{
            height: 130vh;
            margin: 2vh auto 2vh;
        }

        #formulario h1{
            width: 90%;
            text-shadow: #03062B 1px 1px;
            margin: 2vh auto 1vh;
            font-size: 4.5vh;
        }

        #contact-form{
            font-size: 2.6vh;
            height: 60%;
            width: 85%;
            margin: 1vh auto;
        }

        #contact-form input, textarea{
            min-height: 4.2vh;
            font-size: 2.5vh;
            padding: 0.4vh;
        }

        textarea{
            max-width: 100%;
            min-width: 100%;
        }

        #boton-enviar{
            color: #E6E6E9;
            background-color: #03062B;
            width: 50%;
            height: 5.8vh;
            margin: 0 auto;
            border-radius: 30px;
        }

        #deco{
            height: 25%;
        }

        .abajo{
            height: 34vh;
            width: 33vw;
            margin-top: -4.8vh;
        }

        .drinks-icons{
            display: inline-flex;
            justify-content: flex-end;
            height: 120px;
            width: 100px;
        }

        .drinks-icons img{
            width: 100%;
            height: 100%;
        }

        .banner_2{
            margin: 2vh 0 0;
        }

        .form_logo{
            height: 60vh;
            width: 80vw;
            margin: auto;
        }

        .button-form{
            width: 60vw;
            height: 8vh;
        }

        .footer-contacto{
            width: 8vw;
        }

        footer p{
            font-size: larger;
        }
    
    }


